/* line 2, ../sass/app.scss */
html, body {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

/* line 8, ../sass/app.scss */
#wrapper {
  background-color: #f7fbd6;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 60px 30px;
  box-sizing: border-box;
}
/* line 17, ../sass/app.scss */
#wrapper #title {
  text-align: center;
  font-size: 3.4em;
  color: #444;
  margin-bottom: 55px;
}
/* line 24, ../sass/app.scss */
#wrapper #touch-to-speak {
  border-radius: 50%;
  height: 280px;
  width: 280px;
  background-color: #FF8552;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 41px 13px rgba(0, 0, 0, 0.34);
  transition: all ease-in-out 0.2s;
}
/* line 33, ../sass/app.scss */
#wrapper #touch-to-speak.push-down {
  box-shadow: 0px 0px 41px 2px rgba(0, 0, 0, 0.34);
  height: 260px;
  width: 260px;
}
/* line 40, ../sass/app.scss */
#wrapper #hint {
  text-align: center;
  margin-top: 60px;
  font-family: sans-serif;
  color: #8c8d7c;
  font-size: 1.6em;
}
